beautifulsoup4==4.12.2
certifi==2023.7.22
chardet==5.1.0
charset-normalizer==3.2.0
colorama==0.4.6
cssselect==1.2.0
greenlet==2.0.2
html2text==2020.1.16
idna==3.4
lxml==4.9.3
playwright==1.36.0
pyee==9.0.4
pyfiglet==0.8.post1
PyInquirer==1.0.3
readability-lxml==0.8.1
requests==2.31.0
setuptools==67.8.0
soupsieve==2.4.1
termcolor==2.3.0
tqdm==4.65.0
typing-extensions==4.7.1
urllib3==2.0.4
wheel==0.38.4
